*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 60%;
  margin: auto;
  color: #ddd;
  background-image: radial-gradient(#2a35b0 100%, #fff 0%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
